<div class="container">
    <!-- TO display degree List -->
    <div class="side" >
        
        <div *ngIf="degrees.length > 0 then list; else noList"> </div>
    </div>
    
    <!-- For selected degree -->
    <main >
        <mat-toolbar> 
            <div class="spacer"></div>
            <!-- <mat-icon matSuffix aria-hidden="false" aria-label="add icon" (click)="openDialog(false)">add</mat-icon> -->
            <button class="add_button" (click)="openDialog(false)"> <mat-icon  matPrefix aria-hidden="false" aria-label="add icon">add</mat-icon> New Programme</button>
            
        </mat-toolbar>
         <div *ngIf="selected && currDegree!=null then selected; else notSelected;"></div>

        
    </main>

</div>




<ng-template #list>
    <mat-toolbar>
        <input  matInput type="text" placeholder="Seach Degree" id="searchBar" [(ngModel)]="filterTerm" /> 
        
        <mat-icon > search</mat-icon>
    </mat-toolbar>
    <mat-selection-list #degreeList [multiple]="false" [value]="selected">
        <mat-list-option *ngFor="let degree of degrees | filter: filterTerm; index as i" [value]="degree.name" (click)="selectDegree( i)">
            {{degree.name}}
        </mat-list-option>
    </mat-selection-list>
</ng-template>

<ng-template #noList>
    <app-spinner> </app-spinner>
</ng-template>

<ng-template #selected>
    
    <h2 id="degreeName" class="spacer"> {{currDegree.name}} </h2> 
    
    
    <table >
        <tr>
            <th > <div class="headings"> Course List</div></th>
            <th colspan="2"> </th>
            <th colspan="2"> <div class="headings"><mat-icon (click)="openDialog( true )" matSuffix>mode_edit</mat-icon> <mat-icon (click)="deleteCourse()" style="margin-left: 5px;" matSuffix>delete</mat-icon></div> </th>
            <!-- <th class="icons">
                
            </th> -->
        </tr>
        <tr>
          <!-- <th> </th> -->
          <th >Course Code</th>
          <!-- <th mat-sort-header="name">Name</th> -->
          <th >Type</th>
          <th >Year / Semester</th>
          <!-- <th> Semester</th> -->
        </tr>
        
        <tr *ngFor="let course of currDegree.courses">
          <!-- <td class="icons">
              <mat-icon>mode_edit</mat-icon>
          </td> -->

          <td>{{course.courseName}}</td>
          <td>{{course.type}}</td>
          <td>
              <p *ngFor="let period of course.offeredIn">{{period.year}} / {{period.semester}}</p>
          </td>
          <!-- <td>{{degree.carbs}}</td> -->
          <!-- <td> 
             <span *ngFor="let period2 of course.offeredIn"> {{period2.semester}} </span>  
          </td> -->

        </tr>

      </table>
</ng-template>
<ng-template #notSelected>
    <div class="none"> Select a programme</div>
</ng-template>

