<style>
    
    .button {
      border: none;
      color: white;
      background-color: #00a7df;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition-duration: 0.2s;
    }
    .button1 {
        margin-left: 47%;
    }

    .button:hover {
    background-color: #28748d;
    color: white;
    }

    .forms_class{
      margin-left: 33%;
      width: 40%;
      display: inline-block;
    }
    .sidebyside{
        display: inline-block;
    }
    .margin{
        margin-left: 33%;
        width:40%;
        max-height: 150px;
        overflow: auto;
    }
    .welcome{
        padding:15px;
        text-align:center;
        background-size: 40%;
        background-color: #00a7df;
        color: white;
    }
    
    .center{
        text-align: center;
    }

    .hide1{
        display:none;
    }
    </style>


<h1 class="welcome">Welcome Administrator</h1>


<main class="main">
<h2 style="text-align:center;">User List</h2>
<div *ngIf="listUsers.length > 0;">
<ul class="margin">
    <li *ngFor="let user of listUsers" style="list-style-type:none;">
      <span>Email: {{user.email}} <br> Account Type: {{user.account_type}} <br><br>  </span>
      <!-- <span>Account Type: {{user.account_type}}</span> -->
    </li>
  </ul>
</div>
<!--<div>
        
    <div *ngIf="usersList.length > 0 then list"> </div>
</div>-->
<!-- <p class="center">Select an action:</p>
<div class="center">
    <input type="radio" id="create" name="drone" value="cre"
           checked>
    <label for="cre">Add User</label>
  </div>
  
  <div class="center">
    <input type="radio" id="delete" name="drone" value="del">
    <label for="del">Delete User</label>
  </div> -->

  <button class="button button1" (click)="currentView='add'">Toggle Add User</button>
  <button class="button" (click)="currentView='delete'">Toggle Delete User</button>
<h2 style="text-align:center;">Add a New User</h2>
<!--<p>admin works!</p>-->

<div  id="signUpForm" *ngIf="currentView=='add'">
  <form [formGroup]="addForm" (ngSubmit)="addSubmit()">

    <mat-form-field class = "forms_class">
        <input matInput placeholder="Name" formControlName="name"/>
        <mat-error *nglf="name?.errors?.['required']">
            A Name is Required.
        </mat-error>
    </mat-form-field>
    <mat-form-field class = "forms_class">
        <input matInput placeholder="Email Address" formControlName="emailAddress"/>
        <mat-error *nglf="emailAddress?.errors?.['required']">
            Email Address is Required.
        </mat-error>
    </mat-form-field>
    <mat-form-field class = "forms_class">
        <input matInput placeholder="Password" formControlName="password" type="password"/>
        <mat-error *nglf="password?.errors?.['required']">
            A Password is Required.
        </mat-error>
    </mat-form-field>
    <mat-form-field class = "forms_class">
        <input matInput placeholder=" Confirm Password" formControlName="confirmPassword" type="password"/>
        <mat-error *nglf="confirmPassword?.errors?.['required']">
            Password Confirmation is Required.
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="addForm.errors?.['thePasswordsDontMatch']">
        The passwords do not match.
    </mat-error>


    <button class="button button1" type="submit">Add User</button>
    </form>
</div>

    <h2 style="text-align:center;">Delete User</h2>

    <!--<form [formGroup]="deleteForm" (ngSubmit)="deleteUser()">
        <mat-form-field class = "forms_class">
            <input matInput placeholder="Email Address" formControlName="emailAddress2"/>
            <mat-error *nglf="emailAddress2?.errors?.['required']">
                Email Address is Required.
            </mat-error>
        </mat-form-field>

    </form>-->
    
        <mat-form-field *ngIf="currentView=='delete'" class = "forms_class" id="deleteUserForm">
            <input matInput placeholder="Email Address" [(ngModel)]="deleteEmail" type="email"required/>
        </mat-form-field>

    
    <button *ngIf="currentView=='delete'" class="button" style="margin-left: 47%;" (click)="deleteUser()">Delete User</button>

    <script>
        function displaySignUp(){
            var toggle = document.getElementById("signUpForm");
            if (toggle.style.display === "none"){
                toggle.style.display = "block";
            }
            else{
                toggle.style.display = "none";
            }
        }
    </script>

</main>




