<div fxFlex >
  <h1 mat-dialog-title>New Event</h1>
  <div mat-dialog-content>
  <p>
    <mat-label>Event Title</mat-label>
    <input  matInput type="text" [(ngModel)]="eventData.title" cdkFocusInitial>
    <button *ngIf="eventData.title" matSuffix mat-icon-button aria-label="Clear" (click)="eventData.title=''">
      <mat-icon>close</mat-icon>
    </button>
  </p>
  <p>
    <mat-label>Start Date</mat-label>
    <input #startD matInput type="datetime-local" [(ngModel)]="eventData.start">
    
  </p>
  <p>
    <mat-label>End Date</mat-label>
    <input #endD matInput type="datetime-local" [(ngModel)]="eventData.end" >
    
  </p>

  <p>
    <mat-label>All Day</mat-label>
    <mat-checkbox color="warn" [(ngModel)]="eventData.allDay" class="text-megna">
      
    </mat-checkbox>
  </p>
  <p>
    <mat-label>Color</mat-label>
    <input #color matInput type="color" [(ngModel)]="eventData.backgroundColor" >
    
  </p>
  <div mat-dialog-actions>
    
    <button mat-button (click)="onSave()">Save</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
  </div>
</div>