<div>
    <h1 mat-dialog-title>Core Courses Event Clash Detected!</h1>
   
  
  <div mat-dialog-content class="events">
    <mat-list role="list" *ngFor="let item of data.events" >
      <mat-list-item role="listitem"> {{item.title}} <span [ngClass]="getColor(item.type)">{{item.type}}</span> </mat-list-item>
    </mat-list>
    
    
    <section *ngIf="data.freeSlots then newDates; else noDates"></section>
    
  </div>

  <div mat-dialog-actions>
    
    <button mat-button (click)="onSave()">Proceed</button>
    <div class="spacer" ></div>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>

<ng-template #newDates>
  <mat-divider></mat-divider>
  <p>Next Available Date (Check the box to select it ✓)</p> 
  <mat-checkbox class="example-margin" [(ngModel)]="checked">{{ toDate(data.freeSlots.start, data.freeSlots.end) }}</mat-checkbox>
</ng-template>

<ng-template #noDates>
  <p><b> No Free Time available for scheduling </b></p> 
</ng-template>