<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'horizontal' : horizontal }">

        <!-- ============================================================== -->
        <!-- Topbar - style you can find in header.scss -->
        <!-- ============================================================== -->
        <mat-toolbar color="primary" class="topbar relative">
            <div class="w-100 fix-width-for-horizontal">
                
                <!-- ============================================================== -->
                <!-- sidebar toggle -->
                <!-- ============================================================== -->

                <button mat-icon-button (click)="snav.toggle()" class="sidebar-toggle"
                    value="sidebarclosed">
                    <mat-icon>menu</mat-icon>
                </button>


                <!-- ============================================================== -->
                <!-- Logo - style you can find in header.scss -->
                <!-- ============================================================== -->
                
                <a class="navbar-brand" fxFlexAlign="center" href="/">
                        <!-- Logo text -->
                        <span> SCHEDULER</span>
                        
                </a>
                

                <!-- Fill space -->
                <span fxFlex></span>  
                <!-- ============================================================== -->
                <!-- app header component - style you can find in header.scss / header.component.ts-->
                <!-- ============================================================== -->
                <!-- <div *ngIf="!horizontal else horizontalheader">
                    <app-vertical-header></app-vertical-header>
                </div>

                <ng-template #horizontalheader>
                    <app-horizontal-header></app-horizontal-header>
                </ng-template> -->

                <!-- ============================================================== -->
                <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
                <!-- ============================================================== -->
                

                <!-- ============================================================== -->
                <!-- Profile - style you can find in header.scss -->
                <!-- ============================================================== -->
                <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
                    <mat-icon id="account_icon" >account_circle</mat-icon> </button>
                <mat-menu #profile="matMenu" class="mymegamenu">
                    <button (click)="end.toggle()" mat-menu-item>
                        <mat-icon>settings</mat-icon> Settings
                    </button>
                    <button mat-menu-item>
                        <mat-icon>account_box</mat-icon> Profile
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon> Disable notifications
                    </button>
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon> Sign Out
                    </button>
                </mat-menu>
            </div>

        </mat-toolbar>
        <!-- ============================================================== -->
        <!-- End Topbar - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
            >
            <!-- ============================================================== -->
            <!-- Menu within Sidebar - style you can find in sidebar.scss 
                        [mode]="mobileQuery.matches ? 'side' : 'over'"  --> 
            <!-- ============================================================== -->
            <!-- <mat-sidenav #snav mode="over">
                 <mat-menu >
                        <button mat-menu-item>
                            Dashboard
                        </button>
                        <button mat-menu-item>
                            Courses
                        </button>
                        <button mat-menu-item>
                            <span>Notifications </span> 
                            <span fxFlex></span>
                            <span class="label label-red"> 10</span>
                            
                        </button>
                    
                    </mat-menu>
            </mat-sidenav> -->

            <mat-sidenav #snav id="snav" class="pl-xs" mode="over" fixedTopGap="0"
                [opened]="false" [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true"
                (close)="sidebarOpened = true">
                <mat-nav-list >
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Menu</h3>
                    <mat-list-item>
                        <mat-card>Dashboard</mat-card>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-card>Courses </mat-card>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-card>
                            <span>Notifications </span> 
                            <span fxFlex></span>
                            <span class="label label-red"> 10</span>
                        </mat-card>
                    </mat-list-item>
                    
                
                </mat-nav-list>
                <!-- <perfect-scrollbar class="scbar" [config]="config">
                    <app-vertical-sidebar class="app-sidebar" (notify)="snav.toggle()">
                    </app-vertical-sidebar>
                   
                </perfect-scrollbar> -->

                

            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Settigns Sidebar - style you can find in sidebar.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
            <!-- ============================================================== -->
            <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
                <div class="scroll">
                    <mat-nav-list>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>
                        <mat-list-item *ngIf="!minisidebar">
                            <mat-slide-toggle color="warn" [(ngModel)]="horizontal">
                                Horizontal Layout</mat-slide-toggle>
                        </mat-list-item>
                        
                        <mat-list-item>
                            <mat-slide-toggle color="warn" [(ngModel)]="boxed">Boxed Layout</mat-slide-toggle>
                        </mat-list-item>
                        <mat-list-item *ngIf="!horizontal">
                            <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false"
                                class="text-danger">Red
                            </mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false"
                                class="text-megna">Teal
                                Green</mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false"
                                class="text-info">Blue
                            </mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            
                            <mat-slide-toggle color="warn" [(ngModel)]="dark" (change)="darkClick()"> Dark
                            </mat-slide-toggle>
                            
                            
                            <!-- <mat-checkbox color="warn" [(ngModel)]="dark" (change)="green = blue = danger = false">Dark</mat-checkbox> -->

                        </mat-list-item>
                    </mat-nav-list>
                </div>
            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <mat-sidenav-content>

                <!-- <app-breadcrumb></app-breadcrumb> -->
                <div class="page-content">
                    <router-outlet>
                        <app-spinner></app-spinner>
                    </router-outlet>

                </div>
            </mat-sidenav-content>
            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
        </mat-sidenav-container>
    </div>