<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'horizontal' : horizontal }">

        <!-- ============================================================== -->
        <!-- Topbar - style you can find in header.scss -->
        <!-- ============================================================== -->
        <mat-toolbar id="main-nav-bar" class="topbar relative">
            <div class="w-100 fix-width-for-horizontal">
                
                <!-- ============================================================== -->
                <!-- sidebar toggle -->
                <!-- ============================================================== -->

                <button mat-icon-button (click)="snav.toggle()" class="sidebar-toggle"
                    value="sidebarclosed">
                    <mat-icon>menu</mat-icon>
                </button>


                <!-- ============================================================== -->
                <!-- Logo - style you can find in header.scss -->
                <!-- ============================================================== -->
                
                <a id="app-title" class="navbar-brand" fxFlexAlign="center" href="/">
                        <!-- Logo text -->
                        <span> SCHEDULER</span>
                        
                </a>
                

                <!-- Fill space -->
                <span fxFlex></span>  
                <!-- ============================================================== -->
                <!-- app header component - style you can find in header.scss / header.component.ts-->
                <!-- ============================================================== -->
                <!-- <div *ngIf="!horizontal else horizontalheader">
                    <app-vertical-header></app-vertical-header>
                </div>

                <ng-template #horizontalheader>
                    <app-horizontal-header></app-horizontal-header>
                </ng-template> -->

                <!-- ============================================================== -->
                <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
                <!-- ============================================================== -->
                

                <!-- ============================================================== -->
                <!-- Profile - style you can find in header.scss -->
                <!--  -->
                <!-- ============================================================== -->
                <ng-template #unreadIcon>
                    <mat-icon style=" color: red;" (click)="readAll()">notifications_active</mat-icon>
                </ng-template>
                <ng-template #readIcon>
                    <mat-icon>notifications_none</mat-icon>
                </ng-template>

                <ng-template #allNotifications>
                    <mat-nav-list id="notice-list">
                        <mat-list-item class="notice-wrapper" *ngFor="let notice of notifications">
                            <div>
                                <p class="date"> <mat-icon class="notice-icon" *ngIf="!notice.read">brightness_1</mat-icon> {{notice.date}}</p>
                                <p class="notice"> {{notice.eventName}} clashes detected!</p>
                            </div>
                        </mat-list-item>
                        
                        <mat-list-item class="center-text" (click)="clearAllNotifications()">
                           Clear All 
                        </mat-list-item>
                    </mat-nav-list>
                </ng-template>
                
                <ng-template #noNotifications>
                    <mat-nav-list id="notice-list">
                       <div style="padding:15px;" fxFill> No Notifications found </div> 
                    </mat-nav-list>
                    
                </ng-template>
                <button mat-icon-button [matMenuTriggerFor]="notifications_list" class="m-r-5"> <mat-icon *ngIf="unreadNotifications then unreadIcon; else readIcon">notifications</mat-icon></button>
                <mat-menu #notifications_list="matMenu">
                    <mat-nav-list *ngIf="notifications.length > 0 then allNotifications; else noNotifications">
                        
                    </mat-nav-list>
                    
                </mat-menu>

                <button [matMenuTriggerFor]="settings" mat-icon-button class="m-r-5">
                    <mat-icon id="account_icon" >account_circle</mat-icon> </button>
                <mat-menu #settings="matMenu" class="mymegamenu">
                    <p mat-subheader style="position: relative; top:0;padding-top: 0; padding-bottom: 0; margin: 10px 0 0 0;" class="text-uppercase">Settings </p>
                    <button (click)="end.toggle()" mat-menu-item>
                        <mat-icon>person</mat-icon> Update Account
                    </button>
                   <!--  <button mat-menu-item>
                        <mat-icon>account_box</mat-icon> Profile
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon> Disable notifications
                    </button> -->
                    <button mat-menu-item (click)="signOut()" >
                        <mat-icon>exit_to_app</mat-icon> Sign Out
                    </button>
                </mat-menu>
            </div>

        </mat-toolbar>
        <!-- ============================================================== -->
        <!-- End Topbar - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
            >
            <!-- ============================================================== -->
            <!-- Menu within Sidebar - style you can find in sidebar.scss 
                        [mode]="mobileQuery.matches ? 'side' : 'over'"  --> 
            <!-- ============================================================== -->
            <!-- <mat-sidenav #snav mode="over">
                 <mat-menu >
                        <button mat-menu-item>
                            Dashboard
                        </button>
                        <button mat-menu-item>
                            Courses
                        </button>
                        <button mat-menu-item>
                            <span>Notifications </span> 
                            <span fxFlex></span>
                            <span class="label label-red"> 10</span>
                            
                        </button>
                    
                    </mat-menu>
            </mat-sidenav> -->

            <mat-sidenav #snav id="snav" class="pl-xs" mode="over" fixedTopGap="0"
                [opened]="false" [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true"
                (close)="sidebarOpened = true">
                <mat-nav-list  >
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Menu</h3>
                   <a routerLink="/views/calendar" (click)="snav.toggle()">  <mat-list-item>
                        <mat-card>Calendar</mat-card> 
                    </mat-list-item></a>
                    <a routerLink="/views/programmes" (click)="snav.toggle()"> <mat-list-item  >
                        <mat-card >Programmes </mat-card>
                    </mat-list-item> </a>
                     <a routerLink="/views/courses" (click)="snav.toggle()"> <mat-list-item>
                       <mat-card>
                            Courses
                            <!-- <span>Courses </span> 
                            <span fxFlex></span>
                            <span class="label label-red"> 10</span> -->
                        </mat-card>
                    </mat-list-item></a>
                    <a *ngIf="isAdmin" routerLink="/views/admin" (click)="snav.toggle()"> <mat-list-item  >
                        <mat-card >Admin Dashboard </mat-card>
                    </mat-list-item> </a>
                    
                
                </mat-nav-list>
                <!-- <perfect-scrollbar class="scbar" [config]="config">
                    <app-vertical-sidebar class="app-sidebar" (notify)="snav.toggle()">
                    </app-vertical-sidebar>
                   
                </perfect-scrollbar> -->

                

            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Settigns Sidebar - style you can find in sidebar.scss -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
            <!-- ============================================================== -->
            <mat-sidenav #profile_side_nav #end position="end" class="profile-panel" mode="over" [opened]="!closeAccNav">
                <div class="scroll profile-panel-container">
                    <h4 > Account </h4>
                    <!-- <mat-divider></mat-divider> -->

                    <mat-form-field appearance="fill">
                        <mat-label>Enter your Name </mat-label>
                        <input matInput placeholder="John Doe" required [(ngModel)]="name">
                        <button *ngIf="name!=''" mat-icon-button matSuffix (click)="name=''">
                            <mat-icon>close</mat-icon>
                          </button>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required [(ngModel)]="newEmail">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <button *ngIf="newEmail!=''" mat-icon-button matSuffix (click)="newEmail=''">
                            <mat-icon>close</mat-icon>
                          </button>
                    </mat-form-field>


                    <mat-form-field appearance="fill" *ngIf="hasNewPassword">
                        <mat-label>Enter new password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="newPassword">
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    
                    <mat-checkbox [(ngModel)]="hasNewPassword" >New Password</mat-checkbox> 
                    
                    <!-- <mat-divider></mat-divider> -->

                    <div class="form_buttons">
                        <button mat-button (click)="updateAcc()" id="update_button"> <mat-icon  matPrefix>save</mat-icon> Save Changes </button>
                        <button mat-button (click)="profile_side_nav.toggle()"  id="cancel_button"> <mat-icon matPrefix>arrow_back</mat-icon> Back </button>
                    </div>
                    
                    <!-- <mat-nav-list>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Account </h3>
                        <mat-list-item *ngIf="!minisidebar">
                            <mat-slide-toggle color="warn" [(ngModel)]="horizontal">
                                Horizontal Layout</mat-slide-toggle>
                        </mat-list-item>
                        
                        <mat-list-item>
                            <mat-slide-toggle color="warn" [(ngModel)]="boxed">Boxed Layout</mat-slide-toggle>
                        </mat-list-item>
                        <mat-list-item *ngIf="!horizontal">
                            <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false"
                                class="text-danger">Red
                            </mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false"
                                class="text-megna">Teal
                                Green</mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false"
                                class="text-info">Blue
                            </mat-checkbox>
                        </mat-list-item>

                        <mat-list-item>
                            
                            <mat-slide-toggle color="warn" [(ngModel)]="dark" (change)="darkClick()"> Dark
                            </mat-slide-toggle>
                            
                            
                            <mat-checkbox color="warn" [(ngModel)]="dark" (change)="green = blue = danger = false">Dark</mat-checkbox> 

                        </mat-list-item>
                    </mat-nav-list> -->
                </div>
            </mat-sidenav>

            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <mat-sidenav-content>

                <!-- <app-breadcrumb></app-breadcrumb> -->
                <div class="page-content">
                    <router-outlet>
                        <app-spinner></app-spinner>
                    </router-outlet>

                </div>
            </mat-sidenav-content>
            <!-- ============================================================== -->
            <!-- Page container - style you can find in pages.scss -->
            <!-- ============================================================== -->
        </mat-sidenav-container>
    </div>