 .mat-menu-content{
    padding-bottom: 0px !important;
 }
 
 $fc-border-color: #C1D0ED;
    $fc-today-bg-color: #f8f5c5 ;
    // $fc-page-bg-color: #C1D0ED ;
    $header-background: #7F7F7F;

    $primary-calendar-color: #60BBEE;// #C1D0ED ; //#2fa4e7
    $secondary-calendar-color: #2fa4e7 ;//#60BBEE;

    .info{
      background: #cff4fc !important;
      color: #0a58ca !important;
    }

    .error{
      background: rgb(223, 8, 8) !important;
      color: #fff !important;
    }
    .success{
      background: greenyellow !important;
      color: $fc-border-color !important;
    }
  #app-title{
      color: #fff;
  }
#main-nav-bar{
    background-color: $primary-calendar-color;
    
}

.fc-button-primary {
    color: #fff !important;
    background-color: $secondary-calendar-color !important;
    border-color: $secondary-calendar-color !important;
}

.fc-toolbar-title{
    color: $secondary-calendar-color;
}

.fc-col-header-cell, .fc-timegrid-axis{
    background: $header-background;
}

.fc-list-day th {
    background-color: $primary-calendar-color !important;
}

.fc-daygrid-day:not(.fc-day-today), .fc-timeGridWeek-view, .fc-timeGridDay-view  {
    background: $primary-calendar-color;
}

.fc-day-today{
    background-color: $fc-today-bg-color !important;
}

// Pad Events 
.fc-event-title-container {
    padding-left: 15px;
    font-weight: 500;
    
}

//Enlargen Event
// .fc-event-title-container{
//     font-size: medium;
//     font-weight: 600;
// }

.fc-daygrid-event{
    border-radius: 10px !important;
    
}

// .fc-daygrid-event:hover{
//     border-width: 3px ;
// }


/* Scroll bar */
      /* width */
      *::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      *::-webkit-scrollbar-track {
        background: transparent;
        filter: drop-shadow(0px 0px 15px $primary-calendar-color) !important;
        box-shadow: 0px 5px 20px $primary-calendar-color;
      }

      /* Handle */
      *::-webkit-scrollbar-thumb {
        background: $primary-calendar-color;
      }

      /* Handle on hover */
      *::-webkit-scrollbar-thumb:hover {
        background: $primary-calendar-color;
      }
