

// .fc-button-primary{
//     background-color: blue !important;
// }
.fc-button-primary {
    color: #fff !important;
    background-color: #2fa4e7 !important;
    border-color: #2fa4e7 !important;
}

.fc-toolbar-title{
    color: #2fa4e7;
}

