$primary-blue: #60BBEE;


      .container{
        flex: 100%;
        height: 91vh;
        display: flex;
        flex-direction: row;
        overflow: none;
      }

      .side{
        filter: drop-shadow(0px 0px 10px $primary-blue);
        box-shadow: -5px 0px 35px $primary-blue; // rgba(155, 155,155, 0.65);
        width: 30vw;
        background: $primary-blue;
        height: 100%;
      }
      main {
        max-height: 100%;
        overflow-y: auto;
        padding: 10px;
        max-width: 69vw;
      }

      #searchBar{
        border: 3px solid #ccc;
        flex: 95% 0 auto;
        width: 100%;
        /* flex: 0.9 0 auto; */
      }

      
      .icons:hover, mat-icon:hover{
        box-shadow: 4px 8px 3px 5px rgb(155 155 155 / 65%) !important; 
        border-radius: 25px;
        cursor: pointer;
        /* background: #2fa4e7; */
				color: #2fa4e7;
      }

      mat-selection-list{ 
        padding: 10px 8px; 
        overflow-y: auto;
        background: transparent;
        
      }

      mat-list-option{
        margin: 10px 0px;
        background: #fff;
        box-shadow: 0px 4px 3px 5px rgb(155 155 155 / 35%) !important;
        
      }
      mat-list-option:hover {
        /* box-shadow: 4px 8px 3px 5px rgb(155 155 155 / 65%) !important; 
        border-radius: 25px;
        width: 95%; */
        color: #fff;
        background: #fff;
        filter: drop-shadow(0px 0px 1px #f5f5f5);
      }
      mat-list-option:focus{
        color: #fff;
        background: #16A5F8;
      }

      mat-list-option::before{
        content: "";
        background: #16A5F8;
        width: 0;
        height: 100%;
        position: absolute;
      }

      mat-list-option:hover::before{
        
        animation: highlight 0.25s ease-in forwards;
      }

      @keyframes highlight{
        from{ width: 0;}
        to { width: 100%;}
      }

      @media only screen and (max-width: 1024px){
        mat-list-option{
          font-size: 1.5vw !important;
        }
      }
      
      .spacer, main{
        flex: 1 0 auto;
      }

      #courseName{
        margin-left: 35px;
        display: flex;
        flex-direction: row;
        max-width: 90%;
      }

      th, #courseName, mat-icon{
        color: #0C6A9E;
      }

      .none{
        text-align: center;
        margin-top: 40vh;
      }

      table{
        width: 100%;
        background-color: #ccc;
        border-radius: 5%;
        // height: clamp(70vh, 60vh, 60vh);
        max-height: 70vh;
        align-self: stretch;
        padding: 20px;
        overflow-y: auto;
      }

      table::before{
        background: #EAEAEB;
      }

      tr:hover td {background-color: #0C6A9E;}

      .headings {
        max-height: 40px ;
        //text-align: left;
      }

      .headingIcon{
        max-height: 40px ;
        text-align: right;
        padding-right: 55px;
      }

      tr th{
        height: 40px;
      }

      tr:not(:first-child:nth-child(2)){
        height: 50px !important;
      }

      td{
        text-align: center;
        background-color: #C1D0ED;
        border-radius: 5%;
      }

      mat-chip{
        background-color: #0C6A9E !important;
        color: #f5f5f5 !important;
      }

      td:hover mat-chip{
        background: #C1D0ED !important;
        color: #000 !important;
        font-weight: 700;
      }
